/* Importar Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Fuentes Importadas Google Fonts
    font-family: 'Roboto', sans-serif;
*/
/* Clases Macro */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  margin: 0px;
  background-color: #8b8b8b;
  color: whitesmoke;
}

header {
  padding: 25px;
  padding-left: 10vw;
  background-color: #464545;
}

.instructions {
  padding-top: 10px;
}

.fieldsets {
  border: 4px solid #751515;
  border-radius: 10px;
  padding: 5px;
  row-gap: 3px;
}

.fieldsets .samples {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fieldsets .samples .accordion {
  width: 100%;
}

.fieldsets .samples .accordion .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 5px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fieldsets .samples .boton {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fieldsets .sumarYRestar {
  width: 100%;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fieldsets .sumarYRestar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fieldsets .addIndex {
  padding-left: 20px;
  padding-bottom: 10px;
}

.fieldsets .arrayRowContainer {
  padding: 5px;
}

.fieldsets .arrayRowContainer .arrayRow {
  padding: 5px;
}

.fieldsets .arrayRowContainer .arrayName {
  border: 2px solid #751515;
  border-radius: 5px;
  background-color: #7a3b3b;
  padding: 5px;
}

.fieldsets .arrayRowContainer .arrayData {
  border: 2px solid #751515;
  border-radius: 5px;
  background-color: #7a3b3b;
  padding: 5px;
}

.generateBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.generateBar .generateJSON {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.generateBar .generateJSON button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arraySets {
  margin-top: 10px;
  border: 4px solid #751515;
  border-radius: 10px;
  padding: 5px;
  row-gap: 3px;
  max-height: 300px;
}

.arraySets #arrayDataContainer {
  width: 100%;
  padding: 15px;
  overflow-wrap: break-word;
}

.arraySets #arrayDataContainer p {
  overflow: hidden;
}

.export {
  width: 100%;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 5px;
  margin-bottom: 5px;
}

.export button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.export a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 720px) {
  .fieldsets .samples .boton {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */